<%- include("header") -%>

    <div>
        <h5>Setup: </h5>
        <p>
            <%= setup %>
        </p>
        <h5>Delivery: </h5>
        <p>
            <%= delivery %>
        </p>
    </div>

<%- include("tryAgain") -%>

<%- include("footer") -%>